<!DOCTYPE html>
<html lang="en">
<head>
  <title>sell!t</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
    body {
      background-color: #ff4c68;
      font-family: Arial, Helvetica, sans-serif;
      /* text-align: center; */  
    }
    .container{
      
      padding-left: 20%;
      padding-right: 20%;
      padding-top: 5%;
    }

    #admin{
        position: absolute;
        right : 3%;
        top : 2%;
    }
    a[href="/logout"]{

    }
    .card{
        margin-top : 20px;
    }
</style>
</head>
<body>
    <div id="admin">Welcom Admin!
        <a href="/logout"><button class="btn btn-dark">logout</button></a></div>
    
<div class="container">
  <h2 style="text-align: center;">Auctions put up by sellers</h2>
  
    <% for( let i = 0; i < results.length; i++ ) { %>
        <div class="card">
            <div class="card-body">
              <h4 class="card-title">By <%= results[i].fullName %></h4>
              <p class="card-text">Product Name : <%= results[i].productName %></p>
              <p class="card-text">Date of First purchase : <%= results[i].dop %></p>
              <p class="card-text">Start Price : <%= results[i].startPrice %></p>
              <form action="/admin/changeStatus" method="post">
              <input type="hidden" name = "id" value="<%=results[i]._id%>" >
              <button type="submit" class="btn btn-dark">Show to Users</button>
              </form>
              <!-- <a href="#" class="card-link">Card link</a> 
              <a href="#" class="card-link">Another link</a>  -->
            </div>
          </div>
    <% } %>

  
</div> 

</body>
</html>
